/* Variables solo para css,
   propiedades custom */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;


}



/** Para usar rem en font size **/
head{
    font-size: 62.5%;
}
/** 1 rem=10px  **/
body{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Aplica a toda la pagina*/
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
   
}

.titulo span{
    font-size: 2rem;
   
}

.contenedor{
    width: 40rem;
    margin: 0 auto 0 auto; /* Repite el 0 en top y bot y el auto right left*/
}

.nv-bg{
    background-color: var(--secundario);

}


.navegacion-principal{
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* para aplicar en enlaces aplico flex desde el padre*/
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
}