/* Variables solo para css,
   propiedades custom */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;


}



/** Para usar rem en font size **/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
/*tamaño border box*/
*, *:before, *:after {
    box-sizing: inherit;
  }
  

/** 1 rem=10px  **/
body{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Aplica a toda la pagina*/
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
   
}

.titulo span{
    font-size: 2rem;
   
}

.contenedor{
    max-width: 40rem;
    margin: 0 auto 0 auto; /* Repite el 0 en top y bot y el auto right left*/
}

.nv-bg{
    background-color: var(--secundario);

}


.navegacion-principal{
    display: flex;
    flex-direction: column;
}


/* 768px tablet
    480px telefono
    1140px pc notebook
    1400px más grande*/
@media(min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /* para aplicar en enlaces aplico flex desde el padre*/

    }
   
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(/sitio-freelance-front/images/nav.jpg);
    background-size: cover;
    padding: 20px;
}