/* Variables solo para css,
   propiedades custom */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;


}



/** Para usar rem en font size **/
head{
    font-size: 62.5%;
}
/** 1 rem=10px  **/
body{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
   
}

.titulo span{
    font-size: 2rem;
   
}